[mysqld]
character-set-server=utf8
datadir=/var/lib/mysql
innodb_buffer_pool_size = 4192M
innodb_flush_log_at_trx_commit=0
innodb_log_file_size = 1G
innodb_use_native_aio = off
join_buffer_size = 1M
key_buffer_size = 2048M
max_allowed_packet = 1024M
myisam_sort_buffer_size = 2048M
net_buffer_length = 10K
old_passwords=0
query_cache_limit = 4M
query_cache_min_res_unit = 8k
query_cache_size = 200M
query_cache_type = 1
read_buffer_size = 512K
read_rnd_buffer_size = 512K
server-id       = 1
skip-external-locking
skip-name-resolve
socket=/var/lib/mysql/mysql.sock
sort_buffer_size = 128K
table_open_cache = 512
thread_cache_size = 32
thread_stack = 240K
user=mysql
slow_query_log
slow_query_log_file=/var/log/mysql/slow-queries.log
long_query_time=5.0
#log_slow_rate_limit=20
log_slow_admin_statements=ON
max_connections = 210
performance_schema = ON


# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/lib/mysql/mysqld.pid

!includedir /etc/mysql/conf.d/
