[mysqld]
character-set-server=utf8
datadir=/var/lib/mysql
innodb_buffer_pool_size = 4192M
innodb_use_native_aio = off
key_buffer_size = 2048M
max_allowed_packet = 1024M
myisam_sort_buffer_size = 2048M
net_buffer_length = 10K
old_passwords=0
read_buffer_size = 512K
read_rnd_buffer_size = 512K
server-id       = 1
skip-external-locking
skip-name-resolve
socket=/var/lib/mysql/mysql.sock
sort_buffer_size = 128K
table_open_cache = 512
thread_stack = 240K
thread_cache_size = 32
user=mysql
innodb_log_file_size = 1G
innodb_flush_log_at_trx_commit=0
query_cache_type = 1
query_cache_limit = 4M
query_cache_min_res_unit = 8k
query_cache_size = 200M
join_buffer_size = 1M


# Disabling symbolic-links is recommended to prevent assorted security risks;
# to do so, uncomment this line:
# symbolic-links=0

[mysqld_safe]
log-error=/var/log/mysql/mysqld.log
pid-file=/var/lib/mysql/mysqld.pid

!includedir /etc/mysql/conf.d/
